#kv1, #kv2, #kv3{
    width:80px;
    height:100px;
    background:red;
    margin:5px;
    color:white;
    display:none;
    float: left;
}

#st1, #st2, #st3{
    float:left;
    background:yellow;
    margin:5px;
    padding:5px;
}
#red, #green, #blue{
    width:100px;
    height:100px;
    margin:10px;
}
#red{
    background:red;
}
#green{
    background:green;
}
#blue{
    background:blue;
}

.month tr td {
    clear:both;
    text-align:right;
}

.month tr td label {
    padding-right: 10px;
}

.effect9 img {
    width: 102px;
}

.effect9 {
    width: 302px;
}